@{
  Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Resources</h1>
      <p class="lead">
        
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Videos</h4>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li><a href="http://channel9.msdn.com/Events/TechEd/NorthAmerica/2014/DEV-B385">TechEd - Introduction: The Future of .NET on the Server</a>
            <p class="indent">The Lesser Scotts introduce ASP.NET vNext</p></li>
            <li><a href="http://channel9.msdn.com/Events/TechEd/NorthAmerica/2014/DEV-B411">TechEd - Deep Dive: The Future of .NET on the Server</a>
            <p class="indent">David Fowler shows Scott Hanselman how stuff works (and casts aspersions on his coding skills).</p></li>
            <li><a href="http://channel9.msdn.com/Events/TechEd/NorthAmerica/2014/C9-09">Developer Q&A on Channel9</a></li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Code</h4>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li><a href="http://github.com/aspnet">ASP.NET on <s>Codeplex</s> GitHub(!)</a></li>
            <ul class="list-unstyled indent">
              <li><a href="http://github.com/aspnet/Home">Home - info &amp; samples</a></li>
              <li><a href="http://github.com/aspnet/MusicStore">Music Store ported to vNext</a></li>
              <li><a href="http://github.com/aspnet/Mvc">MVC - new framework</a></li>
              <li><a href="http://github.com/aspnet/HttpAbstractions">HttpAbstractions - Context/Request/Response</a></li>
              <li><a href="http://github.com/aspnet/Routing">Routing</a></li>
              <li>...and so much other stuff.</li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Articles &amp; Blogs</h4>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li>
              <a href="http://davidfowl.com/">David Fowler's blog</a>
              <p class="indent">David is an architect on the ASP.NET vNext project, and he's blogging a bunch of interesting stuff. Start with these, then subscribe to his <a href="http://davidfowl.com/rss/">RSS feed</a>.</p>
            </li>
            <ul class="list-unstyled indent" style="margin-bottom: 8px">
              <li>
                <a href="http://davidfowl.com/asp-net-vnext/">ASP.NET vNext</a>
              </li>
              <li>
                <a href="http://davidfowl.com/asp-net-vnext-architecture/">ASP.NET vNext Overview</a>
              </li>
              <li>
                <a href="http://davidfowl.com/assembly-neutral-interfaces/">Assembly Neutral Interfaces</a>
                <p class="indent">These are awesome: interfaces without assembly references!</p>
              </li>
              <li>
                <a href="http://davidfowl.com/assembly-neutral-interfaces-implementation/">Assembly Neutral Types Implementation</a>
                <p class="indent">In which we learn that the AssemblyNeutral attribute is an Assembly Neutral type. Inception!</p>
              </li>
            </ul>
            <ul class="list-unstyled">
            <li>
              <a href="http://whereslou.com/">Louis DeJardin's blog</a>
              <p class="indent">Louis is a developer on the ASP.NET vNext project, he's blogging the 'moving parts' of ASP.NET vNext and you can follow him on <a href="https://twitter.com/loudej">Twitter</a>.</p>
            </li>
            <ul class="list-unstyled indent" style="margin-bottom: 8px">
              <li>
                <a href="http://whereslou.com/2014/05/23/asp-net-vnext-moving-parts-iconfiguration/">ASP.NET vNext Moving Parts: IConfiguration</a>
              </li>
              <li>
                <a href="http://whereslou.com/2014/05/28/asp-net-moving-parts-ibuilder/">ASP.NET vNext Moving Parts: IBuilder</a>
              </li>
            </ul>
            <li>
              <a href="http://www.hanselman.com/blog/IntroducingASPNETVNext.aspx">Scott Hanselman on ASP.NET vNext</a>
            </li>
            <li>
              <a href="http://blogs.msdn.com/b/dotnet/archive/2014/05/12/the-next-generation-of-net-asp-net-vnext.aspx">The .NET Framework team blog</a>
            </li>
            <li>
              <a href="http://www.asp.net/vnext/overview/aspnet-vnext">vNext on www.asp.net</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Community</h4>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li><a href="http://forums.asp.net/1255.aspx/1?ASP+NET+vNext">Discussion forum</a></li>
            <li><a href="https://jabbr.net/#/rooms/AspNetvNext">JabbR room</a></li>
            <li><a href="https://github.com/aspnet/Home/issues">GitHub issues</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
