@{
  Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background-color: white">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
      <h1>Eulogy</h1>
      <p class="lead">
        I think my fondest memory of the GAC will always be the time it tried to simultaneously hold 42 different versions of the entire Infragistics Control Suite for Web And Windows, fell off the end of the hard disk and blue-screened the entire building...
      </p>
    </div>
  </div>
</div>