@{
  Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background-color: white">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
      <div class="jumbotron">
        <h1>ASP.NET vNext: an introduction</h1>
        <p>
          A new ASP.NET is coming. Leaner. Lighter. Faster. And just generally more awesomer.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
      <p class="lead">
        At TechEd USA in May 2014, Microsoft publicly revealed the future of .NET on the server, ASP.NET vNext.
      </p>
      <p>
        Also known as Project K, ASP.NET vNext is a ground-up rewrite of the ASP.NET MVC, Web API and SignalR stack that liberates them from the Desktop CLR, complex project files and web.configs, build cycles, and what-have-you.
      </p>
    </div>
  </div>
</div>