@{
  Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="tombstone">
  <img class="center-block" src="/Images/tombstone.png">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p class="white">
        On May 13th, 2014, family and friends of the Microsoft .NET Global Assembly Cache announced that it
        is losing its long battle with runaway bloat, and has gone into a coma from which it is unlikely to recover.
      </p>
      <p class="white">
        After nearly one and a half decades of faithful service, the G.A.C. is to be placed on long-term life support, where it will continue to service the needs of Enterprise software departments, running old-style desktop applications and ASP.NET WebForms intra/extranet systems that only work in IE8 with compatibility mode switched on. Doctors expect it can maintain this un-strenuous activity indefinitely.
      </p>
    </div>
  </div>
</div>