body, html {
  height: 100%;
}

body {
  padding-top: 60px;
  padding-bottom: 32px;
}
.indent {
  margin-left: 16px;
}
#page {
  height: 100%;
  position: relative;
}
#body {
  padding-bottom: 60px;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 32px;
  background-color: #222222;
}
small {
  font-size: 0.8em;
}
@media screen and (max-width: 767px) {
  #github-fork-link {
    display: none;
  }
}